# Part-I:

## Pandas

In [1]:
# install pandas

!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

[For more on installation](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html)

In [2]:
import pandas as pd

__Basic data structures in Pandas:__

- DataFrames

- Series

[Why to have more than one data structures](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html#why-more-than-one-data-structure)

### Series

In [3]:
# create a list of car makes
cars = ['Toyota', 'Honda', 'Toyota', 'Kia', 'Honda', 'GMC', 'Kia', 'Mazda', 'Hyundai', 'Mazda']

Note that the 'cars' is a 'list' object.

In [4]:
# create a series from cars list
series_cars = pd.Series(cars, name= "Murat_cars", index = [1,3,5,7,13, 15, 17, 1,2,3] )
# let's take a look at series_cars
series_cars

1      Toyota
3       Honda
5      Toyota
7         Kia
13      Honda
15        GMC
17        Kia
1       Mazda
2     Hyundai
3       Mazda
Name: Murat_cars, dtype: object

- Discuss index, name and differences of lists and series

In [5]:
print(series_cars[3])

print(series_cars.iloc[3])

print(series_cars.index)

3    Honda
3    Mazda
Name: Murat_cars, dtype: object
Kia
Int64Index([1, 3, 5, 7, 13, 15, 17, 1, 2, 3], dtype='int64')

- Discuss the benefits of series over other data structures by showing methods designed for handling tabular data like, value_counts, sort_index, sort_values, etc

In [6]:
series_cars.sort_values()

15        GMC
3       Honda
13      Honda
2     Hyundai
7         Kia
17        Kia
1       Mazda
3       Mazda
1      Toyota
5      Toyota
Name: Murat_cars, dtype: object

### Data Frames

- Create dataframes from list-like objects

In [7]:
courses = [['601', '01', 'Murat', 'Guner', 'SG'], 
           ['601', '02', 'John', 'Wan', 'Main'], 
           ['602', '01', 'Antonio', 'Diana', 'Main'], 
           ['602', '04', 'Ozgur', 'Ozturk', 'Main'], 
           ['604', '03', 'Charles', 'Givre', 'Online']]

In [8]:
courses_df = pd.DataFrame(courses)
courses_df

     0   1        2       3       4
0  601  01    Murat   Guner      SG
1  601  02     John     Wan    Main
2  602  01  Antonio   Diana    Main
3  602  04    Ozgur  Ozturk    Main
4  604  03  Charles   Givre  Online

- Show extra features like: column names, index etc

In [9]:
index = [15398, 14976, 14964, 15388, 15382]

courses_df = pd.DataFrame(courses, index = index)
courses_df

         0   1        2       3       4
15398  601  01    Murat   Guner      SG
14976  601  02     John     Wan    Main
14964  602  01  Antonio   Diana    Main
15388  602  04    Ozgur  Ozturk    Main
15382  604  03  Charles   Givre  Online

In [10]:
courses_df = pd.DataFrame(courses, 
                          index = index, 
                          columns = ['Code', 'Section', 'FirstName', 'LastName', 'Campus'])
courses_df

      Code Section FirstName LastName  Campus
15398  601      01     Murat    Guner      SG
14976  601      02      John      Wan    Main
14964  602      01   Antonio    Diana    Main
15388  602      04     Ozgur   Ozturk    Main
15382  604      03   Charles    Givre  Online

- Creating Data Frame From A Dictionary

In [11]:

mydictionary = {'names': ['Alice', 'John', 'Abby', 'Lini'],
	'Data601': [68, 74, 77, 78],
	'Data602': [84, 56, 73, 69],
	'Data603': [78, 88, 82, 87]}


df = pd.DataFrame(mydictionary)

# Part-II

 ## Selecting a column in a dataframe

In [12]:
df['names']

0    Alice
1     John
2     Abby
3     Lini
Name: names, dtype: object

In [13]:
df.names

0    Alice
1     John
2     Abby
3     Lini
Name: names, dtype: object

- Accessing rows with their index

In [14]:
df.loc[0]

names      Alice
Data601       68
Data602       84
Data603       78
Name: 0, dtype: object

- Accessing a value

In [15]:
df.loc[2, 'names']

'Abby'

## .loc vs .iloc

## Boolean Masking

In [16]:
df

   names  Data601  Data602  Data603
0  Alice       68       84       78
1   John       74       56       88
2   Abby       77       73       82
3   Lini       78       69       87

In [19]:
df[(df.Data601 > 70) & (df.Data602 <70)]

  names  Data601  Data602  Data603
1  John       74       56       88
3  Lini       78       69       87

In [20]:
(df.Data601 > 70) & (df.Data602 <70)

0    False
1     True
2    False
3     True
dtype: bool